<ion-content [fullscreen]="true">
  <div class="welcome-container">
    <ion-card>
      <ion-card-header class="card-header">
        <img src="../../assets/marrano regalo.svg" alt="Marrano Regalo" class="welcome-image">
        <ion-card-title class="card-title">¡Bienvenido a Coink!</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <h3>¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!</h3>
      </ion-card-content>
      <div class="button-container">
        <button class="continue-button" (click)="volver()">
          <h3><b>CONTINUAR</b></h3>
        </button>
      </div>
    </ion-card>
  </div>
</ion-content>
