#header_page3 {
    display: flex;
    align-items: center;
    padding: 10px;
    ion-icon {
      color: #1EEA00;
      margin-right: 10px;
      font-size: 6vw;
    }
    div {
      flex: 1;
      text-align: center;
      h4 {
        color: #004B40;
        font-weight: bold;
        margin: 0;
        font-size: 4vw;
      }
      img {
        height: 20px;
        margin-top: 10px;
      }
    }
  }
  
  #page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  #arriba {
    display: flex;
    align-items: center;
    width: 100%;
    img {
      width: 20%;
      margin-right: 10px;
    }
    div {
      flex: 1;
      text-align: left;
      h3 {
        font-size: 4vw;
        margin: 0;
      }
    }
  }
  
  #numero_cel {
    width: 100%;
    text-align: center;
    padding: 5%;
    ion-label {
      font-size: 7vw;
    }
  }

  ion-card{
    width: 100%;
  }
  
  ion-grid {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  ion-row {
    justify-content: space-evenly;
  }
  
  ion-button {
    height: 70px;
    width: 70px;
    font-size: 6vw;
    font-weight: bold;
    margin: 10px;
    --background: transparent;
    color: #004B40;
  }
  
  #borrar, #comprobar {
    height: 50px;
    width: 50px;
    font-size: 4vw;
    margin: 10px;
  }
  
  #comprobar {
    background: #1EEA00;
    color: white;
    border-radius: 50%;
  }
  