#page1 {
  background: #1EEA00;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#page1 img {
  max-width: 80%; 
  height: auto; 
}
