<ion-content [fullscreen]="true" *ngIf="window === 'start'">
  <div id="page1">
    <img src="../../assets/Coink_logo.svg" alt="Company_logo" (click)="loadForLogin()">
  </div>
</ion-content>

<ion-content *ngIf="window === 'login'">
  <div id="page2">
    <div id="up">
      <ion-img src="../../assets/Coink_logo.svg" alt="Company_logo"></ion-img>
      <h1>
        LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
      </h1>
    </div>
    <div id="down">
      <ion-button id="registrate" (click)="ChangeToRegister()">REGISTRATE</ion-button>
      <ion-button id="ingresa">INGRESA</ion-button>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="window === 'registrate'">
  <ion-header id="header_page3">
    <ion-icon name="chevron-back-outline"></ion-icon>
    <div>
      <h1>NÚMERO DE CELULAR</h1>
      <img src="../../assets/bar_progres.svg" alt="">
    </div>
  </ion-header>
  <div id="page3">
    <ion-item lines="none">
      <img src="../../assets/Oink.svg" alt="">
      <div>
        <h2>¿CUÁLES SON TUS DATOS?</h2>
        <span>Ahora necesitamos saber algunos datos tuyos</span>
      </div>
    </ion-item>
    <div id="line"></div>
    <h1>Documento de identidad</h1>
    <ion-item>
      <ion-label position="floating">Número de documento</ion-label>
      <ion-input formControlName="numero_documento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de expedición del documento</ion-label>
      <ion-input type="date" formControlName="fecha_expedicion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-input type="date" formControlName="fecha_nacimiento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="genero">
        <ion-select-option value="hombre">Hombre</ion-select-option>
        <ion-select-option value="mujer">Mujer</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>
